
header {
  height: 100px;
}
header nav div:first-child{
   float: left; 
  
}
header nav div h1 {
float: right;
}

nav li {
  float: right;
  display: block;
}
nav {
  width: 960px;
  margin: 0px auto;
}

nav div div {
  border: 1px solid pink;
  float: right;
}